# MakeCode
built
node_modules
yotta_modules
yotta_targets
pxt_modules
_site
*.db
*.tgz
.header.json
.simstate.json
/.vs/iot-watch/FileContentIndex
/.vs/iot-watch/v17/TestStore/0
/.vs/iot-watch/v17
/.vs
